pkgbase = devario-desktop
	pkgdesc = Devario desktop with stable Aqueous, Pearl and Pearl Greeter
	pkgver = 1.0.0
	pkgrel = 2
	url = https://github.com/Seafoam-Labs/Aqueous
	arch = any
	license = GPL-3.0-only
	depends = aqueous-core=1.0.0-2
	depends = aqueous-session=1.0.0-2
	depends = xdg-desktop-portal-aqueous=1.0.0-1
	depends = aqueous-integration-pearl=1.0.0-2
	depends = aqueous-shell-pearl=1.0.0-2
	depends = pearl
	depends = pearl-greeter
	conflicts = aqueous-desktop
	conflicts = devario-aqueous-desktop
	backup = etc/xdg/aqueous/session.toml
	source = session.toml
	sha256sums = 2cecdd6b68deaedc81997669b26ddfb705c458c8de9d8fdd465aaae35eba845b

pkgname = devario-desktop
