pkgbase = pearl-git
	pkgdesc = GTK desktop shell exclusively for Aqueous (Git version)
	pkgver = 1.0.0rc2.r22.ga002d24
	pkgrel = 9
	url = https://github.com/Seafoam-Labs/pearl
	install = pearl-git.install
	arch = x86_64
	license = LicenseRef-Pearl-Unlicensed
	makedepends = git
	makedepends = zig=0.16.0
	makedepends = pkgconf
	makedepends = gcc
	makedepends = qt5-base
	makedepends = qt6-base
	makedepends = python>=3.14
	makedepends = rust
	makedepends = rust-wasm
	makedepends = librsvg
	depends = curl
	depends = libarchive
	depends = libpng
	depends = gtk4>=1:4.22.5
	depends = glib2>=2.88.3
	depends = gtk4-layer-shell>=1.3.0
	depends = libpulse>=17.0
	depends = pam>=1.7.2
	depends = polkit>=127
	depends = glibc>=2.44
	depends = wayland>=1.26.0
	depends = pango>=1:1.58.2
	depends = gdk-pixbuf2>=2.44.7
	depends = cairo>=1.18.4
	depends = systemd>=261.3
	depends = aqueous>0.7
	depends = uwsm>=0.26.7
	optdepends = gvfs: Trash, remote locations, and administrative filesystems in Phyto
	optdepends = file-roller: archive context menu actions in Phyto
	optdepends = nvidia-utils: optional NVIDIA GPU metrics in Dome
	optdepends = qtengine: shared Qt 5/6 application appearance management
	optdepends = pearl-darkly-style: Darkly Qt application styles without KWin decorations
	optdepends = matugen>=4.2.0: dynamic Material colors
	optdepends = networkmanager>=1.58.1: network controls
	optdepends = bluez>=5.87: Bluetooth controls
	optdepends = upower>=1.91.4: battery status
	optdepends = power-profiles-daemon>=0.30: power profiles
	options = !strip
	options = !debug
	backup = etc/pam.d/pearl-git
	source = pearl::git+https://github.com/Seafoam-Labs/pearl.git
	source = https://github.com/bytecodealliance/wasmtime/releases/download/v48.0.2/wasmtime-v48.0.2-x86_64-linux-c-api.tar.xz
	source = https://github.com/bytecodealliance/wit-bindgen/releases/download/v0.62.0/wit-bindgen-0.62.0-x86_64-linux.tar.gz
	source = https://github.com/bytecodealliance/wasm-tools/releases/download/v1.259.0/wasm-tools-1.259.0-x86_64-linux.tar.gz
	sha256sums = SKIP
	sha256sums = d9a2b5dfaf688035f288a7ae81a4b96c3acdd3e849262c2ab577b61908c3f9f9
	sha256sums = 3e81cc6523729f7532b4aa7968648a04abf0c711b7d1677150e9121f4e6458fe
	sha256sums = 3e9b374b4c7715b771b69bf0d65a337990ed4546ec5e97e01c0ff587dfc52160

pkgname = pearl-git
