[Desktop Entry]
Type=Application
Name=Pearl Settings
Comment=Configure the Pearl desktop shell
Exec=pearl-settings
Icon=org.aqueous.Pearl.Settings
StartupNotify=true
StartupWMClass=org.aqueous.Pearl.Settings
Terminal=false
Categories=Settings;DesktopSettings;
OnlyShowIn=Aqueous;Aqueous-Git;Aqueous-Intel-Git;
